<section class="auth-section">
  <h2>Login</h2>
  <form method="post" action="/login" class="auth-form">
    <label>Username <input required name="username"></label>
    <label>Password <input required name="password" type="password"></label>
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/register">Register</a></p>
</section>
